[user]
  name = pthrasher
  email = philipthrasher@gmail.com
[core]
  excludesfile = ~/.gitignore_global
[github]
  user = pthrasher
  token = !sh echo $GITHUB_TOKEN
[gist]
  browse = no
  private = yes
