[user]
    name = pthrasher
    email = philipthrasher@gmail.com
[core]
    excludesfile = ~/.gitignore_global
[push]
    default = matching
[branch "develop"]
    mergeoptions = --no-edit
[branch "master"]
    mergeoptions = --no-edit
