[user]
	name = pthrasher
	email = philipthrasher@gmail.com
[github]
	user = pthrasher
	token = !security find-generic-password -gs github.token 2>&1 >/dev/null | sed -E 's/password: "([a-zA-Z0-9]+)"/\1/'
[gist]
	browse = no
	private = yes
[core]
	excludesfile = ~/.gitignore_global
